@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Bree+Serif&family=DynaPuff&family=Lobster&display=swap');


body{
    font-family: 'Acme', sans-serif;
    background-color: #dbeafe;
    max-width: 30rem;
    margin: auto;
    
}
.container{

    text-align: center;
    width: 100%;
    height: 30rem;
    background-image: url("https://cdn.wallpapersafari.com/94/59/tEw7kc.jpg");
    border-radius: 1rem;
    box-shadow: 7px 8px #93c5fd;
   
}

.header{

   padding : 2rem;
   margin-top : 5rem;

}

.label-for-input{

    display: block;
    font-size: 1.4rem;
    margin: auto;
    text-align: center;

}
#input-btn{
 
    border:  solid ;
    padding: .5rem;
    width: 50%;
    font-size: 1.3rem;
    border-radius: .4rem;
    font-family: 'Acme', sans-serif;
}
#check-btn{

    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2rem;
    padding: .5rem;
    width: 24%;
    font-size: 1.3rem;
    border:  solid ;
    border-radius: .4rem;
    font-family: 'Acme', sans-serif;
}
#output-div{

    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
   
}


  @media only screen and (width : 768px){
    html{

       width: 85%;
    
    }

   
} 